<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/lib/normalize.css' />
    <link rel='stylesheet' href='/css/dest/main.min.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <script src="/js/lib/jquery-2.1.4.js"></script>
    <script src="/js/dest/main.js"></script>
  </body>
</html>
